.mis-canchas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .nueva-cancha {
    background-color: #002366;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  .tarjeta {
    width: 300px;
  }
  
  .tarjeta h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  