.App {
  text-align: center;
  background-color: #f0f4fa;
  min-height: 100vh;
}

.App-header {
  background-color: #002d6b;
  color: white;
  padding: 20px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
